<div class="error-content page">
    <img src="https://cdn.vectorstock.com/i/1000x1000/48/33/error-404-doctor-surprise-page-not-found-template-vector-22334833.webp" alt="error image" class="error-image">
    <div class="error-message">
        <div class="title">Content not found</div>
        <div class="text">
            It appears you don't have permission to access this content.<br><br>
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-outline-primary" (click)="onGoHome()">Go Home</button>
        </div>
    </div>
</div>
