/*Primaries*/
$black-400: #585d5f;
$green-400: #7DC49E;
$blue-400: #00BADE;
$red-400: #F57583;
$yellow-400: #f5a200;

/*Shades*/
$black-100: #FAFAFA;
$black-200: #F2F2F2;
$black-250: #E9E9E9;
$black-300: #6E7178;
$black-500: #3C3E42;

$green-100: #d9f7f6;
$green-150: #d5f6f5;
$green-200: #aef2f0;
$green-300: #58d9d4;
$green-500: #008681;

$blue-100: #ecf7fe;
$blue-200: #a1d3f6;
$blue-300: #378fce;
$blue-500: #037ea2;
$blue-600:#036381;

$red-500: #BF4136;

$yellow-100: #fff4de;
$yellow-200: #ffe3ac;
$yellow-300: #fbcb6d;
$yellow-500: #c88400;

/* base colors*/
$font-color-main: $black-500;

$blue: $blue-400;
$green: $green-400;

$light-green: #5fbdb8;
$light-green2: #b9dfdd;
$red: $red-400; 
$black: $black-500;
$dark-gray: $black-400;
$gray: $black-300;
$light-gray: $black-100;
$light-blue:$blue-200;
$white: #fff;

$disable-color: #e6e6e6;
$disable-dark-color: #c3c3c3;
$dark-blue: $blue-500;
$border-color: #e4e9f3;
$text-muted: #6c757d;
$button-disabled: #d8d8d8;
$bright-blue: #33adff;

$primary: $blue-400;
